.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.cellContainer {
  width: 25%;
  float: left;
}

.cardImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.cardProfileImgBack {
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.cardImgContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.analysisBannerImg {
  height: 120px;
  background-color: #1DA1F2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.analysisBannerContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.smIconBar{
  height: 40px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.authorBar {
  height: 20px;
  margin: 20px;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}